.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.csv
*.xls
*.xlsx
*.txt
*.doc
*.docx
*.pdf
*.eml
*visit_record_data.R
*visit_num_reconcile.R
*config*
*old*
*reconcile_2019*
*NACC_REDCap_reconcile*
*data_to_naomi*
